.AllRoutes {
    margin: 20px;
}

.NoBuses {
    background-color: rgb(255, 196, 12);
    width: 100%;
    height: 35px;
    margin: 10px 0;
    vertical-align: middle;
    display: flex;
    align-items: center
}

.warrning {
    padding-left: 15px;
    padding-inline: 15px;
}