.Choose {
    text-align: center;
    font-size: 400;
    padding-bottom: 10px;
}

.Uberbutton {
    width: 100%;
    border: none;
    background-color: white;
}

.UberImage {
    position: relative;
    width: 100%;
}

.Image5 {
    position: absolute;
    left: 13px;
    top: 3px;
}

.UberBus {
    position: relative;
    margin-left: 63px;
    top: 3px;
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.Time {
    position: relative;
    margin-left: 63px;
    top: -9px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
}

.Number {
    position: relative;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.Icon {
    font-size: 18px;
}