.BusInfo {
    text-align: center;
    margin-top: 30px;
    margin:10px;
}

.BusIcon {
    width: 60px;
}

.Aboutbus {
    position: relative;
    margin-left: -60px;
    margin-top: 15px;
}

.hrInfo {
    background-color: rgb(232, 232, 232);
    width: 100%;
    height: 0.0625em;
    border: none;
    position: relative;
    bottom: 10px;
    
}
.DriverImg {
display: flex;
justify-self: start;
margin-top: -10px;
}

.color {
    color:green;
}