.nav1 {
    height:0;
}

.icon {
    font-size: 24px;
    background-color: white;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 1px 2px 3px 1px rgb(208, 208, 208);
}

.icon2 {
    margin: 15px;
    font-size: 35px;
}

.navbar {
    position:absolute;
    z-index: 1;
  background-color: white;
  width: 100%;
  height: 100%;
}

.nav {
    display: flex;
    text-align: center;
    margin:50px;
}

.navicon {
    background: black;
    padding: 10px 30px;
    font-size: 30px;
    margin: 1px;
    color: white;
    text-align: center;
}

.navtext {
    background: black;
    font-size: 14px;
    color: white;
    flex-grow: 1;
    text-align: center;
}

.logout {
    background: rgb(208, 208, 208);
    padding: 10px 80px;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    display: block;
    border-style: none;
    margin-top: 110px;
}

@media screen and (min-width: 601px) {
    .logout {
        margin-top: 120px;

    }
}