.BookBusMin {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.BookingDetails {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
}

.vl1 {
    border: none;
    background-color: rgb(232, 232, 232);
    height: 60px;
    width: 1px;
}

.hrO {
    background-color: rgb(190, 190, 190);
    width: 100%;
    height: 0.0625em;
    border: none;
    margin-top: -15px;
}