.Route {
    margin: 20px;
}

.ArrowPom {
    margin: 20px;
}

.viewbuses {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    background-color: black;
    color: white;
}

.Matchedtext {
    font-weight: 500;
    padding-bottom: 20px;
}

.Location {
    text-align: center;
    font-weight: 400;
}

.hr {
    background-color: rgb(232, 232, 232);
    width: 100%;
    height: 0.0625em;
    border: none;
    margin-bottom: 1.5625em;
}